<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<%- include('components/navbar') %>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>My Biodata</h1>
            <p>Nama saya Cindy Rahmawati</p>
            <p>Umur saya 19 tahun.</p>
            <p>Alamat saya Jl. Pangeran Hidayat 2 Desa Baru</p>
            <p>Saya Mahasiswa Teknik Informatika Semester 4 di POLITEKNIK NEGERI KETAPANG</p>
            <p> Hoby saya membaca komik
            <p>Saya rasa cukup sampai disini dulu :)</p>

        </div>
    </div>
</main>
	
	<footer>
		<p class="text-center text-muted">© Copyright 2021 Cindy_rhmwti</p>
	</footer>
</body>
</html>