<!DOCTYPE html>
<html>
<head>
	<title>Ridha Annisa</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<%- include('components/navbar') %>
	
<main>
    <div class="jumbotron">
        <h1>SELAMAT DATANG DI!!</h1>
        <p>Siste Informasi Pencarian BTN di Ketapang Berbasis WEB</p>
        <p><b>Apakah anda masih betah mencari-cari BTN dengan cara Manual? </b></p>
        <p>CUKUP , BERHENTI berkeliling mencari perumahan BTN seperti itu...</p>
        <p>sekarang anda sudah kami mudahkan dalam pencarian BTN . Anda hanya tinggal membuka smartphon anda da masukan link ini. maka anda akan terarah ke website pencarian BTN di Ketapang</p>
        <p><b>Ayo mulai sekarang dan seterusnya kunjungi website ini . agar anda lebih mudah kedepanya!!!</b></p>
    </div>
</main>

	<footer>
		<p class="text-center text-muted">© Copyright 2021 Cindy_rhmwti</p>
	</footer>
</body>
</html>